.title {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.gray {
    color: #3c322a;
    font-size: 0.8em;
    margin-right: 1em;
}

.main {
    font-size: 1em;
    margin-top: 1em;
}

.username {
    font-size: 1em;
    margin-right: 0.5em;
}

.link {
    color: #3c322a;
    font-size: 1em;
    width: 5em;
    margin-bottom: 1em;
}

.meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 90%;
    max-width: 50em;
    min-width: 25em;
    margin: 1em;
}

.cardbody {
    display: flex;
    flex-direction: column;
    width: 95%;
}
