.card {
    padding: 1em;
    width: 90%;
    max-width: 50em;
    min-width: 25em;
    margin: 1em;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ro-san-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}