.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fot-klee-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.username {
    font-size: 1.5em;
    text-align: center;
    padding-top: 2em;
}

.card {
    padding: 0px 5px;
}

.body {
    width: 95%
}

.title {
    margin-top: 1em;
}

.postnum {
    font-size: 2em;
    color: #3c322a;
    margin-top: 0px;
    margin-bottom: 1em;
    font-weight: 600;
}

.rep {
    font-size: 0.6em;
    color: #3c322a;
    margin-top: 1em;
}

.circle {
    display: flex;
    background: rgb(225, 214, 182);
    height: 5em;
    width: 5em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
}