.homediv {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #3c322a;
    background-image: url('');
    font-family: ro-san-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hometitle {
    padding-top: 2em;
}

.homedetail {
    font-size: 1.75em;
    padding-top: 3em;
    padding-bottom: 2em;
}

.linklearge {
    text-decoration: underline;
    color: #3c322a;
    font-size: 0.75em;
}

.link {
    color: #3c322a;
    text-decoration: underline;
}