.header {
    height: 60px;
    background-color: rgb(225, 214, 182);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(112, 112, 112);
    font-family: ro-san-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login {
    font-size: 0.75em;
    font-family: ro-san-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer {
    height: 40px;
    background-color: rgb(225, 214, 182);
    padding-top: 0.75em;
    padding-bottom: 1.5em;
    padding-left: 0.5em;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(112, 112, 112);
    font-size: 0.75em;
}
