.card {
  margin: 10px 0px;
  padding: 5px 10px;
  width: 98%;
  border-radius: 0px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  color: #3C322A;
}
.link {
  color: #3C322A;
}
.link:hover {
  color: #3C322A;
}
.card:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.newspaper_title {
  font-size: 12px;
}
.username {
  font-size: 15px;
}
.created_at {
  font-size: 12px;
}
.title {
  margin: auto;
}

