body{
    background-color: rgb(252, 248, 235);
    color: #3C322A;
}

.maincontents {
    min-height: calc(100vh - 100px);
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
}
